@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css');

*, input {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #__blaze-root, #zebra-app {
	height: 100%;
}

aside {
	position: relative;
	width: 300px;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,151,167,1) 0%,rgba(0,96,100,1) 100%);;
	color: white;
	float: left;
	text-align: center;
	padding: 30px;
}
aside .sidebar-info {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
aside h1 {
	font-size: 3em;
}
aside img {
	max-width: 100%;
}

div.content {
	width: calc(100% - 300px);
	min-height: 100%;
	overflow: auto;
}

#zebra-app .navbar {
	padding-left: 20px;
	border-radius: 0;
}

.new-zebra {
	width: 400px;
	margin: 30px auto;
}